@media screen and (min-width: 280px) and (max-width: 576px) {
    .todo {
        width: 90%;
        padding: 1rem;
        min-width: unset;
    }

    h1 {
        font-size: 1.5rem;
        height: 2rem;
    }

    .input-field {
        padding: 0.7rem;
        font-size: 0.9rem;
    }

    ul {
        gap: 0.5rem;
    }

    li {
        padding: 1rem;
    }

    input[type="checkbox"]::before {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.2rem;
    }

    .counter-container p {
        font-size: 0.8rem;
    }

    .counter-container button {
        font-size: 0.9rem;
    }

    .scroll {
        height: 10rem;
    }
    .add{
        color: #ffffff;
        font-size: 0.6rem;
        font-weight: bold;
        padding: 0.3rem 0.7rem;
        border-radius: 0.3rem;
        background-color: #5C8374;
        border: 0.8px solid #000000;
        /*border: none;*/
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
    
    }
    #todoList p {
        display: flex;
        gap: 1rem;
        color:#000000 ;
        align-items: center;
        width: 11rem;
        word-wrap: break-word;
       
      }
      .delete-button {
        margin-left: 1%;
        background-color: #5C8374;
        color: rgb(255, 255, 255);
        border: none;
         padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        cursor: pointer;
        
      }
}
@media screen and (min-width: 576px) and (max-width: 820px) {

    #todoList p {
        display: flex;
        gap: 1rem;
        color:#000000 ;
        align-items: center;
        width: 18rem;
        word-wrap: break-word;
      }
  }
  
